# 项目简介
我需要你根据纳斯达克100只是过去10年的数据，完成投资策略的数据回溯。
回溯的结果中包括两大部分信息：
1. 一个10年的总结，包括月内最大跌幅、年内最大跌幅、投资组合的的贝塔、10年后组合的净值、复合年化收益率。
2. 按月给出一个表格，表格的每一行是当月的数据，包括当月投资组合的涨幅、纳斯达克100的涨跌幅、投资组合的贝塔、投资组合的净值。
3. 这个表格中需要对比三种投资策略的结果，他们分别是纳斯达克100网格交易、纳斯达克100股债平衡、纳斯达克100持有10年
4. 以 markdown 格式输出这份表格，文件路径为 ./report.md
5. beta 系数的计算方法：https://corporatefinanceinstitute.com/resources/data-science/beta-coefficient/

# 数据
## 纳斯达克100
数据已经提供：./NDX.csv
数据格式如下：
交易日期,收盘价,市盈率TTM,市盈率LYR,市盈率FPE,市盈率(动态),市盈率TTM加权,市盈率TTM剔除负值,市净率(LF),市净率加权,股息率,市销率(PS),市销率LYR,市销率TTM加权,市现率(PCF),市现率LYR,市现率TTM加权,调仓标志
## 10年期美国国债
按每年3%的回报计算

# 投资组合一
## 投资组合一：纳斯达克100网格交易
- 每个交易日的交易的策略根据上一个交易日的数据决定。
- 每个交易日都可以发生一次调仓，即调仓的周期是天
- 投资组合中包含两种资产：纳斯达克100、10年期美国国债
- 起始资金为100万：60%为纳斯达克100，40%为10年期美国国债
- 以32倍PE为分界点，如果PE <= 29则纳斯达克100的比例为70%（30%购买10年期国债），如果PE <= 27则纳斯达克100的比例为80%（20%购买10年期国债），如果PE <= 25则纳斯达克100的比例为90%（10%购买10年期国债），如果PE <= 23则纳斯达克100的比例为95%（5%购买10年期国债），如果PE <= 22则纳斯达克100的比例为100%（0%购买10年期国债）。
- 在PE <= 32的范围内，只有加仓纳斯达克100的操作，没有卖出纳斯达克100的操作
- 一旦PE > 32，则进入卖出纳斯达克100，买入10年期美国国债的操作，此时没有买入纳斯达克100的操作
- 如果PE > 32则纳斯达克100的比例为90%（10%购买10年期国债）,如果PE > 33则纳斯达克100的比例为80%（20%购买10年期国债）,如果PE > 35则纳斯达克100的比例为70%（30%购买10年期国债），如果PE > 37则纳斯达克100的比例为60%（40%购买10年期国债）

## 投资组合二：纳斯达克100股债平衡
- 每个交易日的交易的策略根据上一个交易日的数据决定。
- 调仓的周期是月，即每月的第一个交易日进行交易
- 每次调仓的目标是恢复纳斯达克100和10年期美国国债的持有比例，比例为50比50

## 纳斯达克100持有10年
- 这个策略在首个交易日全部持有纳斯达克100
- 在10年内没有调仓